h1{ 
  color: #ffffff; font-family: 'Raleway',sans-serif;  font-weight: 800;
   line-height: 72px; text-align: center; text-transform: uppercase;letter-spacing: 4px;
   /* border-bottom: 1px solid #ffffff; */
}
.main-box{
  width:100%;
  /* border: 1px solid #ffffff; */
}
h3{
    color:white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
p{
  color: #f8f8f8;
  font-family: 'Raleway',sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 0 24px;
  letter-spacing: 1px;
}

.icon-img>p{
    color: #fff700;
    font-size: 18px;
    font-weight: 800;
    margin: 5px;
}
body{
    max-width: 670px;
    margin:0 auto;
    padding: 0 20px 0 20px;
    background-image: linear-gradient(to bottom, #3c4a91, #3c4a91, #3c4a91, #3c4a91, #3c4a91, #485799, #5463a2, #6170aa, #7e8dbc, #9dabce, #bec9df, #e2e7f0);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  text-align:center;
}

.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px #facb1b inset;
}
.display-info{
  background:#1d98af;border-radius: .375rem;padding: 10px;min-height: 200px;    
  -webkit-box-shadow: 5px 3px 14px 0px rgba(28 40 99 / 70%);
  -moz-box-shadow: 5px 3px 14px 0px rgba(28 40 99 / 70%);
  box-shadow: 5px 3px 14px 0px rgb(28 40 99 / 70%);
}
.container-4{
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0 auto;
  }
  .container-4 input#search{
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    font-size: 10pt;
    float: left;
    color: #333;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position:relative;
    
  }
 
  button{
    outline:none;
 }
button::-moz-focus-inner {
    border: 0;
 }
  .container-4 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
  
 .container-4 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .container-4 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }
 input:focus {
    outline:none;
  
  }
  
 .container-4 button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor:pointer;
    border: none;
    background:  #0ab9da;
    height: 50px;
    width: 50px;
    color: #fff;
    opacity: 1;
    font-size: 10pt;
    margin-left: -50px;
    position: absolute;
  }

  .box{
    margin: 5px 20px;
    /* width: 100%; */
    height: auto;
    text-align: justify;
  }
  .left{
    width:40%;
  }
  .right{
    width:60%;
  }
  .inner-box{
    display:inline-flex;
    width: 100%;
  }
  .note{
    margin-top: 30px;
    background: #1d285fa3;
  }
  .note>p{
    padding:10px;
  }
  a{
    color: #facb1b;
  }
  a:hover{
    color: #0bbd0b;
  }
  @media only screen and (max-width:620px) {
    /* For mobile phones: */
    .left{
      width: 100%;
      margin:0 auto;
    }
    .right{
      width:100%;
    }
    h1 {
      line-height:44px;
    }
    .inner-box{
      flex-wrap:wrap-reverse;
    }
    .box{
      margin:10px auto;
    }
  }